<a href="https://colab.research.google.com/github/nrodrgiuez/PROGCOM-A/blob/main/Clase_2_3_Estructuras_de_repetici%C3%B3n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Listas
1. Es un tipo de datos
2. Todos los elementos de una lista, **deben** separarse por comas
3. Forma can칩nica para declarar una lista



```
(variable)=[]
```
Ejemplo:
flores=["amapola", "tulipan","lengua de suegra",dahlia,rosa]

4. Manual.


```
Lista2=[dato1,dato2,dato3...datoN]
```

5. Siempre son finitas
6. Son indexadas


```
Lista2=[dato1,dato2,dato3...datoN]
```
dato1 est치 en el index 0
dato 2 est치 ubicado en el index 1
7. Estructuras **para** para la creaci칩n de listas


```
#Ejemplo: Crear una lista de elementos
lista=[]#Para que el programa sepa que es una lista
for loquesea in range(5):
  lista=input(""Ingrese el nombre de una flor")
```

In [5]:
lista=[]
for loquesea in range(5):
  lista=input("Ingrese el nombre de una flor")

Ingrese el nombre de una florrosa
Ingrese el nombre de una florlengua de suegra
Ingrese el nombre de una florsiete cueros
Ingrese el nombre de una flortulipan
Ingrese el nombre de una flormargarita

In [8]:
flores=["amapola","tulipan","lengua de suegra","dahlia","rosa"]

In [ ]:
lista
for loquesea in range(5):
    lista.append(loquesea)

In [ ]:
lista

In [ ]:
loquesea

In [ ]:
flores

In [9]:

for numero in range(10):
  print(numero)

0
1
2
3
4
5
6
7
8
9

In [16]:
numeros=list(range(1,11))

In [17]:
for numeros in numeros:
  print(numeros)

1
2
3
4
5
6
7
8
9
10

In [11]:
for numero in range(101):
  print(numero)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [14]:
numeros=list(range(1,101)

In [15]:
for numeros in numeros:
  print(numeros)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [18]:
for  numero in range(3,31,3):
  print(numero)

3
6
9
12
15
18
21
24
27
30